<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Looking for Tabletop, Magic The Gathering and games supplies? Come to Command Zone Games for all your gameing needs ">
    <meta name="revisit-after" content="30 days">
    <title>Command Zone Games </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/Index.css">
    <link rel="stylesheet" href="http://www.commmandzonegames.com/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://www.commmandzonegames.com/bootstrap/css/bootstrap-grid.min.css"/>
</head>

<body>
<header class = "container">
  <div class="controls">
      <a href="index.html"><img src="../static/images/CommandZoneLogo-xsm.jpg"/></a>
        <div class="col-sm-8 text-right">
            <button type="button" class="btn-lg btn-outline-info btn-1 coming-soon"> Store
            </button>

            <a href="contact-us.html" style="text-decoration:none; color:black;" >
                <button type="button" class="btn-lg btn-outline-info btn-1" > Contact Us
                </button>
            </a>
        </div>
  </div>
</header>

<section class="jumbotron">
  <div class = "container">
    <div class= "row text-left">
        <h2>More Games<br>More Magic<br>More Fun</h2>
    </div>
  </div>
</section>
  <section class="container">
    <div class="row">
        <div class="col-sm-3">
          <div id="boosters1"><p class ="Selling" align="center">Boosters
          </p></div>
      </div>
          <div class="col-sm-3">
          <div id="boosters2"><p class ="Selling" align="center">Singles
          </p></div>
      </div>
          <div class="col-sm-3">
          <div id="boosters3"><p class ="Selling" align="center">Boxes
          </p></div>
      </div>
          <div class="col-sm-3">
          <div id="boosters4"><p class ="Selling" align="center">Accessories
          </p></div>
      </div>
      </div>
  </section>
</body>

 <footer class="container">
  <div class="row">
   <p class="col-lg-4">&copy; 2017 Command Zone Games llc. All rights reserved, Command Zone Games logo is a registered trademark of Command Zone Games</p>
    <ul class="col-sm-8">
      <li class="col-sm-1"><li class="col-sm-1">
        <a href="https://www.facebook.com/commandzonegames/">
    <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
        </a>
    </li> </li>
  <li class="col-sm-1">  <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg"></li>
  <li class="col-sm-1">  <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg"></li>
  <li class="col-sm-1">  <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg"></li>
    </ul>
  </div>
</footer>
</html>
